@import "tailwindcss";

:root {
  --background: rgb(25, 25, 30);
  --foreground: #171717;

  --crt-red: rgba(255, 0, 0, 1);
  --crt-green: rgba(0, 255, 0, 1);
  --crt-blue: rgba(0, 0, 255, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* bg effect inspired by - https://codepen.io/thisanimus/pen/OJpaqWz */
.bg-crt {
  background-color: rgb(25, 25, 30);
  position: relative;
  &:before,
  &:after {
    content: "";
    transform: translateZ(0);
    pointer-events: none;
    mix-blend-mode: multiply;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:before {
    background: 50% 50% / auto 4px repeat
      repeating-linear-gradient(to bottom, #00000000 0% 75%, #000000ff 75% 100%);
  }
  &:after {
    background: 0% 50% / 3px auto repeat
      repeating-linear-gradient(
        to right,
        #ff0000ff 0% 33.33%,
        #00ff00ff 33.33% 66.66%,
        #0000ffff 66.66% 100%
      );
  }
}
